<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Projects Manager</title>
        <link rel="stylesheet" type="text/css" href="Content/Style.css"/>
        <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.min.css" />

    </head>

    <body ng-app="ProjectManager">
        <div class="jumbotron">
            <div class="container" ng-controller="managerController as ctrl">
                <h1>Projects Manager</h1>

                <div class="row">
                    <div class="col-md-6 seperator">
                        <h3>Projects: </h3>
                        
                        <hr>

                        <div class="actionBtns">
                            <input type="text" placeholder="Projects name" ng-model="tempName" />
                            <input id="pName" type="submit" value="Add" class="btn btn-default" ng-click="addProject()" />
                            <input id="pName" type="submit" value="Remove" class="btn btn-default" ng-click="removeProjectByName(tempName)" />
                        </div>

                        <ul id="projectsList">
                            <li ng-repeat="p in Projects_List track by $index">
                                
                                <a href="#{{$index+1}}">{{p.GetName()}}</a>

                            </li>
                        </ul>
                        

                    </div>
                    <div class="col-md-6">
                        <h3>Tasks List: </h3>
                        
                        <hr>

                        
                        <div class="actionBtns">
                            <input type="text" placeholder="What would you like to do?" ng-model="tempTaskName" style="width: 200px"/>
                            <input id="pName" type="submit" value="Add" class="btn btn-default" ng-click="addTask()" />
                            <input id="pName" type="submit" value="Remove" class="btn btn-default" ng-click="removeTask(tempTaskName)" />
                        </div>
                            
                        <div ng-view></div>
                        

                    </div>
                </div>
                
            </div>
        </div>

        <script src="Scripts/jquery-2.1.4.min.js"></script>
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/angular-route.min.js"></script>
        <script src="Scripts/app.js"></script>
    </body>
</html>

<!--
                $scope.addTask = function () {
                    $scope.task = new Task();
                    this.task.SetName(this.tempTaskName);
                    this.TasksList.push(this.task);
                };

                $scope.removeTask = function () {
                    RemoveItemByName(this.TasksList, this.tempTaskName);
                };

-->