<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Projects Manager</title>
        <meta lang="en">
        <link rel="stylesheet" type="text/css" href="Content/Style.css"/>
        <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/bootstrap-theme.min.css" />
        <script src="Scripts/Extensions/angular.min.js"></script>
        <script src="Scripts/Extensions/angular-route.min.js"></script>
        <script src="Scripts/app.js"></script>


    </head>

    <body ng-app="ProjectManager" ng-controller="ProjectManagerController">>
        <div class="jumbotron">
            <div class="container">
                <h1>Projects Manager</h1>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Projects: </h3>
                        
                        <hr>

                        <div class="actionBtns">
                            <input type="text" placeholder="Projects name" ng-model="newProject.name" />
                            <input type="submit" value="Add" class="btn btn-default" ng-click="SaveProject()" />
                        </div>
                        
                        <table class="table table-bordered">
                            <thead>
                                <th id="projectID"> ID </th>
                                <th> Name </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in projects track by $index" ng-if="$index != 0">
                                    <td> {{ p.id }} </td>
                                    <td> <a href="#{{$index}}">{{ p.name }}</a> </td>
                                </tr>
                            </tbody>
                       </table>

                    </div>
                    <div class="col-md-6">
                        <h3>Tasks List: </h3>
                        
                        <hr>
                        
                        <div ng-view></div>
                    </div>
                </div>
            </div>
         </div>
         
        
    </body>
</html>