<div class="actionBtns">
    <input type="text" placeholder="Tasks Name" ng-model="newTask.name" />
    <input type="submit" value="Add" class="btn btn-default" ng-click="SaveTask(id)" />
</div>

<table class="table table-bordered">
    <thead>
        <th>Task</th>
        <th class="ID">Done ?</th>
    </thead>
    <tbody ng-repeat="p in projects track by $index" ng-if="p.id == id">
        <tr ng-repeat="t in p.tasks track by $index">
            <td> {{t.name}} </td>
            <td> <input type="checkbox" ng-bind="t.isDone"/> </td>
        </tr>
    </tbody>
</table>