.seperator {
    border-right: 5px solid #000;
}

#tasks {
    height: 500px;
    background-color:  antiquewhite;
}

.ID {
    width: 80px;
}

.deleteItem {
    width: 20px;
}

#pDelete {
    text-align: center;
}

#deleteP {
    height: 10px;
    background-color: darkred;
}

.container {
    border: 2px dashed black;
    border-radius: 5px;
    padding: 20px;
}



.jumbotron {
    max-width: 900px;
    min-width: 500px;
}


